<form #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)" [formGroup]="addRecipeForm" fxFlex="100%" fxLayout="column"
      fxLayoutGap="2rem">
  <div fxFlex="100%" fxLayout="row" fxLayoutGap="2rem">
    <div fxFlex="50%" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="baking">Baking</mat-option>
          <mat-option value="breakfast">Breakfast</mat-option>
          <mat-option value="dinner">Dinner</mat-option>
          <mat-option value="smoothie">Smoothie</mat-option>
          <mat-option value="curry">Curry</mat-option>
          <mat-option value="chinese">Chinese</mat-option>
          <mat-option value="cookies">Cookies</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Caption</mat-label>
        <textarea formControlName="caption" matInput rows="3"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Preparation Time</mat-label>
        <input formControlName="preparationTime" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cook Time</mat-label>
        <input formControlName="cookTime" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Servings</mat-label>
        <input formControlName="servings" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput rows="7"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ingredients</mat-label>
        <textarea formControlName="ingredients" matInput rows="7"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Instructions</mat-label>
        <textarea formControlName="instructions" matInput rows="15"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group" fxFlex="50%">
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop your recipe image here!</ngx-dropzone-label>
        <ngx-dropzone-image-preview (removed)="onRemove(f)" *ngFor="let f of files" [file]="f"
                                    [removable]="true" ngProjectAs="ngx-dropzone-preview">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>
  </div>
  <div fxLayoutAlign="end end">
    <button class="register-button" color="accent"
            mat-raised-button type="submit">
      Add My Recipe
    </button>
  </div>
</form>

