<div class="header-wrapper">
  <div class="header" fxLayout="row" fxLayoutAlign="center center">
    <div class="logo">
      <img (click)="navigate('dashboard')" alt="FedEx SignUp" src="../../../../assets/chef-book-logo.png">
    </div>
    <span fxFlex="1 1 auto"></span>
    <div fxFlex="60%" fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="end center">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem" [fxHide.lt-lg]="true">
        <button (click)="navigate('add-recipe')" aria-label="Add Recipe" color="accent" mat-raised-button>
          Add Recipe
        </button>
        <button (click)="navigate('about')" aria-label="Example icon-button with a menu" mat-button>
          About Me
        </button>
        <button [matMenuTriggerFor]="recipesMenu" aria-label="Example icon-button with a menu" mat-button>
          My Recipes
        </button>
      </div>
      <book-global-search fxFlex="1 1 100%" [fxHide.lt-md]="true"></book-global-search>
      <div [fxHide.lg]="true">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="navigate('add-recipe')">
            <span>Add Recipe</span>
          </button>
          <button mat-menu-item (click)="navigate('about')">
            <span>About Me</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="recipesMenu">
            <span>My recipes</span>
          </button>
        </mat-menu>
      </div>
    </div>

  </div>
</div>

<mat-menu #recipesMenu="matMenu" xPosition="before">
  <button (click)="navigateCategory('baking')" mat-menu-item>Baking</button>
  <button (click)="navigateCategory('breakfast')" mat-menu-item>Breakfast</button>
  <button (click)="navigateCategory('dinner')" mat-menu-item>Dinner</button>
  <button (click)="navigateCategory('smoothie')" mat-menu-item>Smoothie</button>
  <button (click)="navigateCategory('curry')" mat-menu-item>Curry</button>
  <button (click)="navigateCategory('chinese')" mat-menu-item>Chinese</button>
  <button (click)="navigateCategory('cookies')" mat-menu-item>Cookies</button>
</mat-menu>
