<div class="header-wrapper">
  <div class="header" fxLayout="row" fxLayoutAlign="center center">
    <div class="logo">
      <img alt="FedEx SignUp" src="../../../../assets/chef-book-logo.png" (click)="navigate('dashboard')">
    </div>
    <span fxFlex="1 1 auto"></span>
    <div fxLayout="row" fxLayoutGap="2rem" fxFlex="60%">
      <div fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="center center">
        <button mat-raised-button aria-label="Add Recipe" color="accent" (click)="navigate('add-recipe')">
          Add Recipe
        </button>
        <button mat-button aria-label="Example icon-button with a menu" (click)="navigate('about')">
          About Me
        </button>
        <button mat-button [matMenuTriggerFor]="recipesMenu" aria-label="Example icon-button with a menu">
          My Recipes
        </button>
      </div>
      <book-global-search fxFlex="1 1 100%"></book-global-search>
    </div>

  </div>
</div>

<mat-menu #recipesMenu="matMenu">
  <button mat-menu-item (click)="navigateCategory('baking')">Baking</button>
  <button mat-menu-item (click)="navigateCategory('breakfast')">Breakfast</button>
  <button mat-menu-item (click)="navigateCategory('dinner')">Dinner</button>
  <button mat-menu-item (click)="navigateCategory('smoothie')">Smoothie</button>
  <button mat-menu-item (click)="navigateCategory('curry')">Curry</button>
  <button mat-menu-item (click)="navigateCategory('chinese')">Chinese</button>
  <button mat-menu-item (click)="navigateCategory('cookies')">Cookies</button>
</mat-menu>
