<div *ngIf="( aboutMe$ | async ) as aboutMe" class="about--wrapper" fxFlex="100%" fxLayout="row"
     fxLayoutAlign="center start"
     fxLayoutGap="2rem">
  <img [src]="aboutMe?.profilePath" alt="Profile Photo" class="profile-pic fadeInEffect" fxFlex="30%">
  <mat-divider [style.height]="'100%'" [vertical]="true"></mat-divider>
  <div fxLayout="column">
    <h1>{{aboutMe?.title}}</h1>
    <p class="about--description line-breaks fadeInEffect">
      {{aboutMe?.description}}
    </p>
  </div>
</div>

