<div class="about--wrapper" fxLayoutGap="2rem" fxLayoutAlign="center start" fxLayout="row" fxFlex="100%" *ngIf="( aboutMe$ | async ) as aboutMe">
  <img alt="Profile Photo" class="profile-pic fadeInEffect" src="../../assets/chef-profile-pic.JPG" fxFlex="30%">
  <mat-divider [vertical]="true" [style.height]="'100%'"></mat-divider>
  <div fxLayout="column">
    <h1>{{aboutMe?.title}}</h1>
    <p class="about--description line-breaks fadeInEffect">
      {{aboutMe?.description}}
    </p>
  </div>
</div>

