<form class="global-search--form">
  <mat-form-field  fxFlex="100" appearance="outline">
    <mat-label>Search for recipe</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-icon matSuffix class="global-search--cancel" (click)="clearControl()">cancel</mat-icon>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="capitalize(option?.title)" (click)="navigate(option)">
        {{capitalize(option?.title)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
