<form class="global-search--form">
  <mat-form-field appearance="outline" fxFlex="100">
    <mat-label>Search for recipe</mat-label>
    <input [formControl]="myControl"
           [matAutocomplete]="auto"
           aria-label="Number"
           matInput
           placeholder="Pick one"
           type="text">
    <mat-icon *ngIf="myControl?.value" (click)="clearControl()" class="global-search--cancel" matSuffix>cancel</mat-icon>
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option (click)="navigate(option)" *ngFor="let option of filteredOptions | async"
                  [value]="helperService.capitalize(option?.title)">
        {{helperService.capitalize(option?.title)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
