<div fxLayout="column">
  <h3>{{helperService?.capitalize(category)}}</h3>
  <div fxFlex="100" fxLayout="row grid" fxLayoutGap="1rem">
    <book-image-grid-loader *ngIf="(recipeList$ | async) === null || (recipeList$ | async) === undefined" [count]="8"
                            [layout]="'grid'"></book-image-grid-loader>
    <div *ngFor="let recipe of (recipeList$ | async)" fxFlex="25" fxLayout="column">
      <div>
        <img *ngIf="recipe?.filePath" [src]="recipe.filePath" alt="Favourites" class="recipe-img" fxFlex="100">
        <img *ngIf="!recipe?.filePath" alt="Favourites" class="recipe-img" fxFlex="100"
             src="../../../../assets/no-image.png">
      </div>
      <span>{{recipe?.title}}</span>
    </div>
  </div>
</div>

