<div fxLayout="column" fxLayoutGap="1rem" fxFlex="100">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>Favourites</span>
    <button mat-button> View More</button>
  </div>
  <div fxLayout="row" fxLayoutGap="1rem" fxFlex="100">
    <div fxLayout="column" *ngFor="let imageSrc of [
  '../../../../assets/recipe/Cream-puffs-feature-1-360x495.jpg',
  '../../../../assets/recipe/French-Toast-Feature-360x495.jpg',
  '../../../../assets/recipe/lemon-cookies-feature-360x495.jpg',
  '../../../../assets/recipe/No-bake-cheesecake-feature-360x495.jpg'
  ]" fxFlex="25">
      <div><img alt="Favourites" fxFlex="100" [src]="imageSrc"></div>
      <span>Sample Data</span>
    </div>
  </div>
</div>
