<div fxLayout="column">
  <book-image-grid-loader *ngIf="!recipeList " [count]="4" [layout]="'row'"></book-image-grid-loader>
  <div *ngIf="recipeList && recipeList?.length > 0" fxFlex="100" fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout="row" fxLayoutAlign="space-between center">
    <span fxLayoutAlign="center center" fxLayoutGap="0.5rem">
      <mat-icon color="accent">favorite</mat-icon><span>Favourites</span>
    </span>
      <button (click)="navigateCategory('favourites')" *ngIf="recipeList.length > maxFavItems" mat-button> View All
      </button>
    </div>
    <div fxFlex="100" fxLayout="row" fxLayoutGap="1rem">
      <div *ngFor="let recipe of recipeList.slice(0, maxFavItems)" fxFlex="25" fxLayout="column">
        <div>
          <img (click)="navigateToRecipe(recipe)" *ngIf="recipe?.filePath" [src]="recipe.filePath" alt="Favourites"
               class="recipe-img fadeInEffect" fxFlex="100">
          <img (click)="navigateToRecipe(recipe)" *ngIf="!recipe?.filePath" alt="Favourites" class="recipe-img fadeInEffect"
               fxFlex="100" src="../../../../assets/no-image.png">
        </div>
        <span>{{recipe?.title}}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>


