<div fxLayout="column">
  <book-image-grid-loader [count]="4" [layout]="'row'" *ngIf="!recipeList "></book-image-grid-loader>
  <div fxLayout="column" fxLayoutGap="1rem" fxFlex="100" *ngIf="recipeList && recipeList?.length > 0">
    <div fxLayout="row" fxLayoutAlign="space-between center">
    <span fxLayoutGap="0.5rem" fxLayoutAlign="center center">
      <mat-icon color="accent">favorite</mat-icon><span>Favourites</span>
    </span>
      <button mat-button (click)="navigateCategory('favourites')" *ngIf="recipeList.length > maxFavItems"> View All </button>
    </div>
    <div fxLayout="row" fxLayoutGap="1rem" fxFlex="100" >
      <div fxLayout="column" *ngFor="let recipe of recipeList.slice(0, maxFavItems)" fxFlex="25">
        <div>
          <img *ngIf="recipe?.filePath" class="recipe-img fadeInEffect" alt="Favourites" fxFlex="100" [src]="recipe.filePath" (click)="navigateToRecipe(recipe)">
          <img *ngIf="!recipe?.filePath" src="../../../../assets/no-image.png" alt="Favourites" fxFlex="100" class="recipe-img fadeInEffect" (click)="navigateToRecipe(recipe)">
        </div>
        <span>{{recipe?.title}}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>


