<div fxFlex="100%" fxLayout="column" fxLayoutGap="2rem">
  <div>
    <div fxLayoutAlign="space-between center">
      <h1>Lemon Curd</h1>

      <div fxLayout="row" fxLayoutGap="1rem" >
        <button mat-icon-button aria-label="Example icon-button with a menu" matTooltip="Edit your recipe">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with a menu" matTooltip="Delete the recipe">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>


    <div fxLayout="row" fxLayoutGap="1rem" >
      <div fxLayoutGap="0.5rem" fxLayoutAlign="center start"><mat-icon matTooltip="Total Time">access_time_filled</mat-icon><span>2hr</span></div>
      <mat-divider [vertical]="true"></mat-divider>
      <div fxLayoutGap="0.5rem" fxLayoutAlign="center start"><mat-icon matTooltip="Cooking Time">local_fire_department</mat-icon><span>1hr</span></div>
      <mat-divider [vertical]="true"></mat-divider>
      <div fxLayoutGap="0.5rem" fxLayoutAlign="center start"><mat-icon matTooltip="No of Servings">ramen_dining</mat-icon><span>3</span></div>
      <mat-divider [vertical]="true"></mat-divider>
      <div fxLayoutGap="0.5rem" fxLayoutAlign="center start"><mat-icon matTooltip="Last Modified Date">calendar_today</mat-icon><span>February 20, 2020</span></div>
    </div>
    <p>How to make the easiest homemade Lemon Curd with just four simple ingredients. It's sweet, tart, smooth and
      creamy, and can be used in so many ways from filling cakes, tarts, scones and so much more! </p>
  </div>
  <div>
    <img alt="Profile Photo" class="profile-pic" fxFlex="100%"
         src="../../../../assets/recipe/lemon-cookies-feature-360x495.jpg">
  </div>
  <div>
    <h2>Description</h2>
    <p class="font-medium">Lemon curd is one of the easiest things to make, it’s a thick spread made from fresh lemons, sugar, eggs, and
      butter. It’s smooth, and creamy in texture with a bright, sweet, and zingy flavor perfect for using in desserts or
      simply spreading on toast for breakfast.

      Once you make this easy homemade version I guarantee you’ll never be tempted to pick up a jar at the store again
      because it doesn’t taste nearly as delicious! The secret to making the best lemon curd? Adding in cold butter at
      the end. It gives the curd the most delicious silky soft texture and thickens it beautifully.</p>
  </div>
  <div>
    <h2>Ingredients</h2>
    <p class="font-medium">Lemon curd is one of the easiest things to make, it’s a thick spread made from fresh lemons, sugar, eggs, and
      butter. It’s smooth, and creamy in texture with a bright, sweet, and zingy flavor perfect for using in desserts or
      simply spreading on toast for breakfast.

      Once you make this easy homemade version I guarantee you’ll never be tempted to pick up a jar at the store again
      because it doesn’t taste nearly as delicious! The secret to making the best lemon curd? Adding in cold butter at
      the end. It gives the curd the most delicious silky soft texture and thickens it beautifully.</p>
  </div>
  <div>
    <h2>Instructions</h2>
    <p class="font-medium">Lemon curd is one of the easiest things to make, it’s a thick spread made from fresh lemons, sugar, eggs, and
      butter. It’s smooth, and creamy in texture with a bright, sweet, and zingy flavor perfect for using in desserts or
      simply spreading on toast for breakfast.

      Once you make this easy homemade version I guarantee you’ll never be tempted to pick up a jar at the store again
      because it doesn’t taste nearly as delicious! The secret to making the best lemon curd? Adding in cold butter at
      the end. It gives the curd the most delicious silky soft texture and thickens it beautifully.</p>
  </div>
</div>
