<div class="recent-widget--wrapper" fxLayout="column" fxLayoutGap="5rem">
  <div *ngIf="recipeList?.length === 0">
    <h3>No Recipes available, Please add one</h3>
  </div>
  <div fxLayout="row" class="recent-recipe-item" fxLayoutGap="1rem" *ngFor="let recipe of recipeList">
    <div fxFlex="0 0 40">
      <img *ngIf="recipe?.filePath" [src]="recipe?.filePath" alt="Favourites" fxFlex="100" class="recipe-img">
      <img *ngIf="!recipe?.filePath" src="../../../../assets/no-image.png" alt="Favourites" fxFlex="100" class="recipe-img">
    </div>
    <div fxFlex="1 1 auto">
      <div fxLayoutAlign="space-between center">
        <span class="font-large">{{recipe?.title}}</span>
        <div class="edit-delete--icons" fxLayoutGap="1rem">
          <button mat-icon-button (click)="toggleFavourites(recipe)">
            <mat-icon *ngIf="!recipe?.isFavourite">favorite_border</mat-icon>
            <mat-icon *ngIf="recipe?.isFavourite">favorite</mat-icon>
          </button>
          <button mat-icon-button (click)="editRecipe(recipe)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="deleteRecipe(recipe)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <p class="font-medium">{{recipe?.caption}}</p>
      <button color="accent" mat-raised-button fxLayoutAlign="center center" (click)="navigateToRecipe(recipe)"> Read On <mat-icon>arrow_right_alt</mat-icon></button>
    </div>
  </div>
</div>

