<div fxFlex="100%" fxLayout="column" fxLayoutGap="2rem">
  <book-favourite-widget [recipeList]="favouriteRecipeList$ | async" fxFlex="100%"></book-favourite-widget>
  <div class="recent-profile--wrapper" fxFlex="100%" fxLayout="row" fxLayoutGap="2rem" fxLayout.lt-lg="column" >
    <book-recent-widget [recipeList]="recipeList$ | async" fxFlex="100%" fxLayout.lt-lg="100%"></book-recent-widget>
    <mat-divider [vertical]="true"></mat-divider>
    <book-chef-intro-widget fxFlex="30%"></book-chef-intro-widget>
  </div>
</div>

