@import '_theming';

html,
body,
book-root {
  margin: 0;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  letter-spacing: .3px;
  line-height: 1.875;
  color: $book-color-background;
}

body {
  margin: 0;
  background: whitesmoke;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .font-medium {
    font-size: 18px;
  }
  .font-large {
    font-size: 26px;
  }
}
img{
  &.recipe-img{
    height: 495px;
    width: 360px;
    object-fit: cover;
    &.large{
      height: 600px;
      width: 360px;
      object-fit: cover;
    }
  }
  &.profile-pic {
    width: 360px;
    height: 360px;
  }
}
button {
  height: 36px;
}
ngx-dropzone {
  background: none !important;
  color: black !important;
  height: auto !important;
  min-height: 240px;
  flex-wrap: wrap !important;
}
.recipe-img:hover{

  opacity: 0.7;
}
.recipe-img {
  cursor: pointer;
  transition: opacity 1s;
}
.line-breaks{
  white-space: pre-line;
}
